body {font-family:"times new roman"; font-size:12pt; text-align:center; color:black;}

.topnav a{font-family:"algerian"; float:none; color:black; text-align:center; padding:14px 16px;}

h1 {font-family:"algerian"; font-size:50pt}
h2 {font-family:"algerian"}
h3 {font-family:"algerian"; text-decoration:underline}
h4 {font-family:"times new roman"}
